导入pandas和numpy库

In [5]:
import pandas as pd
import numpy as np

## 一.缺失值处理

In [6]:
#示例数据
df = pd.read_csv("pokemon_data.csv",encoding="gbk")
#查看数据前十行
df.head(10)

                          姓名    类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                  Bulbasaur  Grass  Poison  318   45   49   49   45   1
1                    Ivysaur  Grass  Poison  405   60   62   63   60   1
2                   Venusaur  Grass  Poison  525   80   82   83   80   1
3      VenusaurMega Venusaur  Grass  Poison  625   80  100  123   80   1
4                 Charmander   Fire     NaN  309   39   52   43   65   1
5                 Charmeleon   Fire     NaN  405   58   64   58   80   1
6                  Charizard   Fire  Flying  534   78   84   78  100   1
7  CharizardMega Charizard X   Fire  Dragon  634   78  130  111  100   1
8  CharizardMega Charizard Y   Fire  Flying  634   78  104   78  100   1
9                   Squirtle  Water     NaN  314   44   48   65   43   1

### 1.判断缺失值

+ 判断数据表所有数据中的缺失值

In [7]:
df.isnull()

        姓名    类型1    类型2     总计    生命值    攻击力    防御力     速度     时代
0    False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False
4    False  False   True  False  False  False  False  False  False
5    False  False   True  False  False  False  False  False  False
6    False  False  False  False  False  False  False  False  False
7    False  False  False  False  False  False  False  False  False
8    False  False  False  False  False  False  False  False  False
9    False  False   True  False  False  False  False  False  False
10   False  False   True  False  False  False  False  False  False
11   False  False   True  False  False  False  False  False  False
12   False  False   True  False  False  False  False  False  False
13   False  False   True  False  False  False  False  False  False
14   False  False   True  False  False  False  False  False  False
15   False  False  False  False  False  False  False  False  False
16   False  False  False  False  False  False  False  False  False
17   False  False  False  False  False  False  False  False  False
18   False  False  False  False  False  False  False  False  False
19   False  False  False  False  False  False  False  False  False
20   False  False  False  False  False  False  False  False  False
21   False  False  False  False  False  False  False  False  False
22   False  False  False  False  False  False  False  False  False
23   False  False  False  False  False  False  False  False  False
24   False  False   True  False  False  False  False  False  False
25   False  False   True  False  False  False  False  False  False
26   False  False  False  False  False  False  False  False  False
27   False  False  False  False  False  False  False  False  False
28   False  False   True  False  False  False  False  False  False
29   False  False   True  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
770  False  False   True  False  False  False  False  False  False
771  False  False  False  False  False  False  False  False  False
772  False  False  False  False  False  False  False  False  False
773  False  False  False  False  False  False  False  False  False
774  False  False   True  False  False  False  False  False  False
775  False  False   True  False  False  False  False  False  False
776  False  False   True  False  False  False  False  False  False
777  False  False  False  False  False  False  False  False  False
778  False  False  False  False  False  False  False  False  False
779  False  False  False  False  False  False  False  False  False
780  False  False  False  False  False  False  False  False  False
781  False  False  False  False  False  False  False  False  False
782  False  False  False  False  False  False  False  False  False
783  False  False  False  False  False  False  False  False  False
784  False  False  False  False  False  False  False  False  False
785  False  False  False  False  False  False  False  False  False
786  False  False  False  False  False  False  False  False  False
787  False  False  False  False  False  False  False  False  False
788  False  False   True  False  False  False  False  False  False
789  False  False   True  False  False  False  False  False  False
790  False  False  False  False  False  False  False  False  False
791  False  False  False  False  False  False  False  False  False
792  False  False   True  False  False  False  False  False  False
793  False  False  False  False  False  False  False  False  False
794  False  False  False  False  False  False  False  False  False
795  False  False  False  False  False  False  False  False  False
796  False  False  False  False  False  False  False  False  False
797  False  False  False  False  False  False  False  False  False
798  False  False  False  False  False  False  False  False  False
799  False  False  False  False  False  False  False  False  False

[800 rows x 9 columns]

+ 判断数据表某一列的缺失值

In [17]:
df["类型2"].isnull()

0      False
1      False
2      False
3      False
4       True
5       True
6      False
7      False
8      False
9       True
10      True
11      True
12      True
13      True
14      True
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24      True
25      True
26     False
27     False
28      True
29      True
       ...
770     True
771    False
772    False
773    False
774     True
775     True
776     True
777    False
778    False
779    False
780    False
781    False
782    False
783    False
784    False
785    False
786    False
787    False
788     True
789     True
790    False
791    False
792     True
793    False
794    False
795    False
796    False
797    False
798    False
799    False
Name: 类型2, Length: 800, dtype: bool

In [10]:
#查看类型2这一列的非缺失值和缺失值的数量分布
df["类型2"].isnull().value_counts()

False    414
True     386
Name: 类型2, dtype: int64

### 2.删除缺失值

+ 删除掉含有缺失值的所有行

In [11]:
df.dropna()

                            姓名       类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                    Bulbasaur     Grass  Poison  318   45   49   49   45   1
1                      Ivysaur     Grass  Poison  405   60   62   63   60   1
2                     Venusaur     Grass  Poison  525   80   82   83   80   1
3        VenusaurMega Venusaur     Grass  Poison  625   80  100  123   80   1
6                    Charizard      Fire  Flying  534   78   84   78  100   1
7    CharizardMega Charizard X      Fire  Dragon  634   78  130  111  100   1
8    CharizardMega Charizard Y      Fire  Flying  634   78  104   78  100   1
15                  Butterfree       Bug  Flying  395   60   45   50   70   1
16                      Weedle       Bug  Poison  195   40   35   30   50   1
17                      Kakuna       Bug  Poison  205   45   25   50   35   1
18                    Beedrill       Bug  Poison  395   65   90   40   75   1
19       BeedrillMega Beedrill       Bug  Poison  495   65  150   40  145   1
20                      Pidgey    Normal  Flying  251   40   45   40   56   1
21                   Pidgeotto    Normal  Flying  349   63   60   55   71   1
22                     Pidgeot    Normal  Flying  479   83   80   75  101   1
23         PidgeotMega Pidgeot    Normal  Flying  579   83   80   80  121   1
26                     Spearow    Normal  Flying  262   40   60   30   70   1
27                      Fearow    Normal  Flying  442   65   90   65  100   1
36                   Nidoqueen    Poison  Ground  505   90   92   87   76   1
39                    Nidoking    Poison  Ground  505   81  102   77   85   1
44                  Jigglypuff    Normal   Fairy  270  115   45   20   20   1
45                  Wigglytuff    Normal   Fairy  435  140   70   45   45   1
46                       Zubat    Poison  Flying  245   40   45   35   55   1
47                      Golbat    Poison  Flying  455   75   80   70   90   1
48                      Oddish     Grass  Poison  320   45   50   55   30   1
49                       Gloom     Grass  Poison  395   60   65   70   40   1
50                   Vileplume     Grass  Poison  490   75   80   85   50   1
51                       Paras       Bug   Grass  285   35   70   55   25   1
52                    Parasect       Bug   Grass  405   60   95   80   30   1
53                     Venonat       Bug  Poison  305   60   55   50   45   1
..                         ...       ...     ...  ...  ...  ...  ...  ...  ..
761                   Dragalge    Poison  Dragon  494   65   75   90   44   6
764                 Helioptile  Electric  Normal  289   44   38   33   70   6
765                  Heliolisk  Electric  Normal  481   62   55   52  109   6
766                     Tyrunt      Rock  Dragon  362   58   89   77   48   6
767                  Tyrantrum      Rock  Dragon  521   82  121  119   71   6
768                     Amaura      Rock     Ice  362   77   59   50   46   6
769                    Aurorus      Rock     Ice  521  123   77   72   58   6
771                   Hawlucha  Fighting  Flying  500   78   92   75  118   6
772                    Dedenne  Electric   Fairy  431   67   58   57  101   6
773                    Carbink      Rock   Fairy  500   50   50  150   50   6
777                     Klefki     Steel   Fairy  470   57   80   91   75   6
778                   Phantump     Ghost   Grass  309   43   70   48   38   6
779                  Trevenant     Ghost   Grass  474   85  110   76   56   6
780      PumpkabooAverage Size     Ghost   Grass  335   49   66   70   51   6
781        PumpkabooSmall Size     Ghost   Grass  335   44   66   70   56   6
782        PumpkabooLarge Size     Ghost   Grass  335   54   66   70   46   6
783        PumpkabooSuper Size     Ghost   Grass  335   59   66   70   41   6
784      GourgeistAverage Size     Ghost   Grass  494   65   90  122   84   6
785        GourgeistSmall Size     Ghost   Grass  494   55   85  122   99   6
786        GourgeistLarge Size     Ghost   Grass  494   75   95  122   69   6
787        GourgeistSuper Size     Ghost   Grass  494   85  100  122   54   6
790                     Noibat    Flying  Dragon  245   40   30   35   55   6
791                    Noivern    Flying  Dragon  535   85   70   80  123   6
793                    Yveltal      Dark  Flying  680  126  131   95   99   6
794           Zygarde50% Forme    Dragon  Ground  600  108  100  121   95   6
795                    Diancie      Rock   Fairy  600   50  100  150   50   6
796        DiancieMega Diancie      Rock   Fairy  700   50  160  110  110   6
797        HoopaHoopa Confined   Psychic   Ghost  600   80  110   60   70   6
798         HoopaHoopa Unbound   Psychic    Dark  680   80  160   60   80   6
799                  Volcanion      Fire   Water  600   80  110  120   70   6

[414 rows x 9 columns]

In [21]:
df.dropna(how="any")

                            姓名       类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                    Bulbasaur     Grass  Poison  318   45   49   49   45   1
1                      Ivysaur     Grass  Poison  405   60   62   63   60   1
2                     Venusaur     Grass  Poison  525   80   82   83   80   1
3        VenusaurMega Venusaur     Grass  Poison  625   80  100  123   80   1
6                    Charizard      Fire  Flying  534   78   84   78  100   1
7    CharizardMega Charizard X      Fire  Dragon  634   78  130  111  100   1
8    CharizardMega Charizard Y      Fire  Flying  634   78  104   78  100   1
15                  Butterfree       Bug  Flying  395   60   45   50   70   1
16                      Weedle       Bug  Poison  195   40   35   30   50   1
17                      Kakuna       Bug  Poison  205   45   25   50   35   1
18                    Beedrill       Bug  Poison  395   65   90   40   75   1
19       BeedrillMega Beedrill       Bug  Poison  495   65  150   40  145   1
20                      Pidgey    Normal  Flying  251   40   45   40   56   1
21                   Pidgeotto    Normal  Flying  349   63   60   55   71   1
22                     Pidgeot    Normal  Flying  479   83   80   75  101   1
23         PidgeotMega Pidgeot    Normal  Flying  579   83   80   80  121   1
26                     Spearow    Normal  Flying  262   40   60   30   70   1
27                      Fearow    Normal  Flying  442   65   90   65  100   1
36                   Nidoqueen    Poison  Ground  505   90   92   87   76   1
39                    Nidoking    Poison  Ground  505   81  102   77   85   1
44                  Jigglypuff    Normal   Fairy  270  115   45   20   20   1
45                  Wigglytuff    Normal   Fairy  435  140   70   45   45   1
46                       Zubat    Poison  Flying  245   40   45   35   55   1
47                      Golbat    Poison  Flying  455   75   80   70   90   1
48                      Oddish     Grass  Poison  320   45   50   55   30   1
49                       Gloom     Grass  Poison  395   60   65   70   40   1
50                   Vileplume     Grass  Poison  490   75   80   85   50   1
51                       Paras       Bug   Grass  285   35   70   55   25   1
52                    Parasect       Bug   Grass  405   60   95   80   30   1
53                     Venonat       Bug  Poison  305   60   55   50   45   1
..                         ...       ...     ...  ...  ...  ...  ...  ...  ..
761                   Dragalge    Poison  Dragon  494   65   75   90   44   6
764                 Helioptile  Electric  Normal  289   44   38   33   70   6
765                  Heliolisk  Electric  Normal  481   62   55   52  109   6
766                     Tyrunt      Rock  Dragon  362   58   89   77   48   6
767                  Tyrantrum      Rock  Dragon  521   82  121  119   71   6
768                     Amaura      Rock     Ice  362   77   59   50   46   6
769                    Aurorus      Rock     Ice  521  123   77   72   58   6
771                   Hawlucha  Fighting  Flying  500   78   92   75  118   6
772                    Dedenne  Electric   Fairy  431   67   58   57  101   6
773                    Carbink      Rock   Fairy  500   50   50  150   50   6
777                     Klefki     Steel   Fairy  470   57   80   91   75   6
778                   Phantump     Ghost   Grass  309   43   70   48   38   6
779                  Trevenant     Ghost   Grass  474   85  110   76   56   6
780      PumpkabooAverage Size     Ghost   Grass  335   49   66   70   51   6
781        PumpkabooSmall Size     Ghost   Grass  335   44   66   70   56   6
782        PumpkabooLarge Size     Ghost   Grass  335   54   66   70   46   6
783        PumpkabooSuper Size     Ghost   Grass  335   59   66   70   41   6
784      GourgeistAverage Size     Ghost   Grass  494   65   90  122   84   6
785        GourgeistSmall Size     Ghost   Grass  494   55   85  122   99   6
786        GourgeistLarge Size     Ghost   Grass  494   75   95  122   69   6
787        GourgeistSuper Size     Ghost   Grass  494   85  100  122   54   6
790                     Noibat    Flying  Dragon  245   40   30   35   55   6
791                    Noivern    Flying  Dragon  535   85   70   80  123   6
793                    Yveltal      Dark  Flying  680  126  131   95   99   6
794           Zygarde50% Forme    Dragon  Ground  600  108  100  121   95   6
795                    Diancie      Rock   Fairy  600   50  100  150   50   6
796        DiancieMega Diancie      Rock   Fairy  700   50  160  110  110   6
797        HoopaHoopa Confined   Psychic   Ghost  600   80  110   60   70   6
798         HoopaHoopa Unbound   Psychic    Dark  680   80  160   60   80   6
799                  Volcanion      Fire   Water  600   80  110  120   70   6

[414 rows x 9 columns]

+ 删除满足行内数据均为NaN这个条件的行

In [8]:
df.dropna(how="all")

                            姓名       类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                    Bulbasaur     Grass  Poison  318   45   49   49   45   1
1                      Ivysaur     Grass  Poison  405   60   62   63   60   1
2                     Venusaur     Grass  Poison  525   80   82   83   80   1
3        VenusaurMega Venusaur     Grass  Poison  625   80  100  123   80   1
4                   Charmander      Fire     NaN  309   39   52   43   65   1
5                   Charmeleon      Fire     NaN  405   58   64   58   80   1
6                    Charizard      Fire  Flying  534   78   84   78  100   1
7    CharizardMega Charizard X      Fire  Dragon  634   78  130  111  100   1
8    CharizardMega Charizard Y      Fire  Flying  634   78  104   78  100   1
9                     Squirtle     Water     NaN  314   44   48   65   43   1
10                   Wartortle     Water     NaN  405   59   63   80   58   1
11                   Blastoise     Water     NaN  530   79   83  100   78   1
12     BlastoiseMega Blastoise     Water     NaN  630   79  103  120   78   1
13                    Caterpie       Bug     NaN  195   45   30   35   45   1
14                     Metapod       Bug     NaN  205   50   20   55   30   1
15                  Butterfree       Bug  Flying  395   60   45   50   70   1
16                      Weedle       Bug  Poison  195   40   35   30   50   1
17                      Kakuna       Bug  Poison  205   45   25   50   35   1
18                    Beedrill       Bug  Poison  395   65   90   40   75   1
19       BeedrillMega Beedrill       Bug  Poison  495   65  150   40  145   1
20                      Pidgey    Normal  Flying  251   40   45   40   56   1
21                   Pidgeotto    Normal  Flying  349   63   60   55   71   1
22                     Pidgeot    Normal  Flying  479   83   80   75  101   1
23         PidgeotMega Pidgeot    Normal  Flying  579   83   80   80  121   1
24                     Rattata    Normal     NaN  253   30   56   35   72   1
25                    Raticate    Normal     NaN  413   55   81   60   97   1
26                     Spearow    Normal  Flying  262   40   60   30   70   1
27                      Fearow    Normal  Flying  442   65   90   65  100   1
28                       Ekans    Poison     NaN  288   35   60   44   55   1
29                       Arbok    Poison     NaN  438   60   85   69   80   1
..                         ...       ...     ...  ...  ...  ...  ...  ...  ..
770                    Sylveon     Fairy     NaN  525   95   65   65   60   6
771                   Hawlucha  Fighting  Flying  500   78   92   75  118   6
772                    Dedenne  Electric   Fairy  431   67   58   57  101   6
773                    Carbink      Rock   Fairy  500   50   50  150   50   6
774                      Goomy    Dragon     NaN  300   45   50   35   40   6
775                    Sliggoo    Dragon     NaN  452   68   75   53   60   6
776                     Goodra    Dragon     NaN  600   90  100   70   80   6
777                     Klefki     Steel   Fairy  470   57   80   91   75   6
778                   Phantump     Ghost   Grass  309   43   70   48   38   6
779                  Trevenant     Ghost   Grass  474   85  110   76   56   6
780      PumpkabooAverage Size     Ghost   Grass  335   49   66   70   51   6
781        PumpkabooSmall Size     Ghost   Grass  335   44   66   70   56   6
782        PumpkabooLarge Size     Ghost   Grass  335   54   66   70   46   6
783        PumpkabooSuper Size     Ghost   Grass  335   59   66   70   41   6
784      GourgeistAverage Size     Ghost   Grass  494   65   90  122   84   6
785        GourgeistSmall Size     Ghost   Grass  494   55   85  122   99   6
786        GourgeistLarge Size     Ghost   Grass  494   75   95  122   69   6
787        GourgeistSuper Size     Ghost   Grass  494   85  100  122   54   6
788                   Bergmite       Ice     NaN  304   55   69   85   28   6
789                    Avalugg       Ice     NaN  514   95  117  184   28   6
790                     Noibat    Flying  Dragon  245   40   30   35   55   6
791                    Noivern    Flying  Dragon  535   85   70   80  123   6
792                    Xerneas     Fairy     NaN  680  126  131   95   99   6
793                    Yveltal      Dark  Flying  680  126  131   95   99   6
794           Zygarde50% Forme    Dragon  Ground  600  108  100  121   95   6
795                    Diancie      Rock   Fairy  600   50  100  150   50   6
796        DiancieMega Diancie      Rock   Fairy  700   50  160  110  110   6
797        HoopaHoopa Confined   Psychic   Ghost  600   80  110   60   70   6
798         HoopaHoopa Unbound   Psychic    Dark  680   80  160   60   80   6
799                  Volcanion      Fire   Water  600   80  110  120   70   6

[800 rows x 9 columns]

创建一个4行3列的含有NaN的数据作为演示

In [29]:
df1 = pd.DataFrame([[1,5,np.nan],[2,np.nan,np.nan],[2,3,np.nan],[np.nan,np.nan,np.nan]])
df1

     0    1   2
0  1.0  5.0 NaN
1  2.0  NaN NaN
2  2.0  3.0 NaN
3  NaN  NaN NaN

how="all"能删除掉均为NaN的行

In [17]:
df1.dropna(how="all")

     0    1   2
0  1.0  5.0 NaN
1  2.0  NaN NaN
2  2.0  3.0 NaN

+ 删除满足列内数据均为NaN这个条件的列，按列删除

In [20]:
df1.dropna(how="all",axis=1,inplace=True)
df1

     0    1
0  1.0  5.0
1  2.0  NaN
2  2.0  3.0
3  NaN  NaN

### 3.填充缺失值

+ 填充指定值

In [23]:
#示例数据
df1

     0    1   2
0  1.0  5.0 NaN
1  2.0  NaN NaN
2  2.0  3.0 NaN
3  NaN  NaN NaN

In [28]:
df1.fillna(value=0)

     0    1    2
0  1.0  5.0  0.0
1  2.0  0.0  0.0
2  2.0  3.0  0.0
3  0.0  0.0  0.0

+ 填充函数

In [30]:
df1

     0    1   2
0  1.0  5.0 NaN
1  2.0  NaN NaN
2  2.0  3.0 NaN
3  NaN  NaN NaN

In [32]:
df1[1].fillna(df1[1].mean())

0    5.0
1    4.0
2    3.0
3    4.0
Name: 1, dtype: float64

+ 向前填充

In [33]:
df1[1]

0    5.0
1    NaN
2    3.0
3    NaN
Name: 1, dtype: float64

In [34]:
df1[1].fillna(method="ffill")

0    5.0
1    5.0
2    3.0
3    3.0
Name: 1, dtype: float64

+ 向后填充

In [36]:
df1[1].fillna(method="bfill")

0    5.0
1    3.0
2    3.0
3    NaN
Name: 1, dtype: float64

## 二.清除空格

创建含有空格的示例数据

In [35]:
dict1 = {"name":["小红","小明","小张"],"age":[16,17,18],"city":["北京  ","杭州","  上海  "]}

In [36]:
df2 = pd.DataFrame(dict1,columns=["name","age","city"])

查看含有空格的数据

In [37]:
df2

  name  age    city
0   小红   16    北京
1   小明   17      杭州
2   小张   18    上海

In [38]:
df2.to_csv("2.csv")

清除空格

In [39]:
df2["city"] = df2["city"].map(str.strip)

查看清除后的数据表

In [40]:
df2

  name  age city
0   小红   16   北京
1   小明   17   杭州
2   小张   18   上海

In [41]:
df2.to_csv("df2.csv")

## 3.转换数据格式

In [42]:
df2

  name  age city
0   小红   16   北京
1   小明   17   杭州
2   小张   18   上海

In [43]:
df2.dtypes

name    object
age      int64
city    object
dtype: object

将年龄列数据转换成字符串格式

In [44]:
df2["age"] = df2["age"].astype("str")

In [45]:
df2

  name age city
0   小红  16   北京
1   小明  17   杭州
2   小张  18   上海

In [46]:
df2.dtypes

name    object
age     object
city    object
dtype: object

将年龄列数据转换成浮点数格式

In [47]:
df2["age"] = df2["age"].astype("float")

In [48]:
df2

  name   age city
0   小红  16.0   北京
1   小明  17.0   杭州
2   小张  18.0   上海

In [49]:
df2.dtypes

name     object
age     float64
city     object
dtype: object

将年龄列数据转换成整数格式

In [50]:
df2["age"] = df2["age"].astype("int")

In [51]:
df2

  name  age city
0   小红   16   北京
1   小明   17   杭州
2   小张   18   上海

## 4.大小写转换

In [54]:
df2

  name  age city
0   小红   16   北京
1   小明   17   杭州
2   小张   18   上海

In [52]:
df2["city"] = ["beijing","hangzhou","shanghai"]
df2

  name  age      city
0   小红   16   beijing
1   小明   17  hangzhou
2   小张   18  shanghai

转换成大写

In [53]:
df2["city"] = df2["city"].str.upper()
df2

  name  age      city
0   小红   16   BEIJING
1   小明   17  HANGZHOU
2   小张   18  SHANGHAI

转换成小写

In [56]:
df2["city"] = df2["city"].str.lower()
df2

  name  age      city
0   小红   16   beijing
1   小明   17  hangzhou
2   小张   18  shanghai

转换成首字母大写

In [57]:
df2["city"] = df2["city"].str.title()
df2

  name  age      city
0   小红   16   Beijing
1   小明   17  Hangzhou
2   小张   18  Shanghai

## 5.更改列名

In [322]:
df2

  name  age      city
0   小红   16   Beijing
1   小明   17  Hangzhou
2   小张   18  Shanghai

通过rename函数修改部分列名或者所有列名，并默认返回一个新的数据框，若需要在原基础上修改，添加参数inplace=True即可

In [57]:
df2.rename(columns={"name":"name2","age":"age2"})

  name2  age2      city
0    小红    16   beijing
1    小明    17  hangzhou
2    小张    18  shanghai

通过columns属性修改列名，这种方式就需要输入所有的列名了，并直接在原基础上修改

In [62]:
df2.columns = ["n","a","c"]

In [63]:
df2

    n   a         c
0  小红  16   beijing
1  小明  17  hangzhou
2  小张  18  shanghai

## 6.更改索引与重置索引

In [67]:
df.head(10)

                          姓名    类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                  Bulbasaur  Grass  Poison  318   45   49   49   45   1
1                    Ivysaur  Grass  Poison  405   60   62   63   60   1
2                   Venusaur  Grass  Poison  525   80   82   83   80   1
3      VenusaurMega Venusaur  Grass  Poison  625   80  100  123   80   1
4                 Charmander   Fire     NaN  309   39   52   43   65   1
5                 Charmeleon   Fire     NaN  405   58   64   58   80   1
6                  Charizard   Fire  Flying  534   78   84   78  100   1
7  CharizardMega Charizard X   Fire  Dragon  634   78  130  111  100   1
8  CharizardMega Charizard Y   Fire  Flying  634   78  104   78  100   1
9                   Squirtle  Water     NaN  314   44   48   65   43   1

+ 更改索引

In [64]:
#将类型1这列作为索引
df3 = df.set_index("类型1")
df3

                                 姓名     类型2   总计  生命值  攻击力  防御力   速度  时代
类型1
Grass                     Bulbasaur  Poison  318   45   49   49   45   1
Grass                       Ivysaur  Poison  405   60   62   63   60   1
Grass                      Venusaur  Poison  525   80   82   83   80   1
Grass         VenusaurMega Venusaur  Poison  625   80  100  123   80   1
Fire                     Charmander     NaN  309   39   52   43   65   1
Fire                     Charmeleon     NaN  405   58   64   58   80   1
Fire                      Charizard  Flying  534   78   84   78  100   1
Fire      CharizardMega Charizard X  Dragon  634   78  130  111  100   1
Fire      CharizardMega Charizard Y  Flying  634   78  104   78  100   1
Water                      Squirtle     NaN  314   44   48   65   43   1
Water                     Wartortle     NaN  405   59   63   80   58   1
Water                     Blastoise     NaN  530   79   83  100   78   1
Water       BlastoiseMega Blastoise     NaN  630   79  103  120   78   1
Bug                        Caterpie     NaN  195   45   30   35   45   1
Bug                         Metapod     NaN  205   50   20   55   30   1
Bug                      Butterfree  Flying  395   60   45   50   70   1
Bug                          Weedle  Poison  195   40   35   30   50   1
Bug                          Kakuna  Poison  205   45   25   50   35   1
Bug                        Beedrill  Poison  395   65   90   40   75   1
Bug           BeedrillMega Beedrill  Poison  495   65  150   40  145   1
Normal                       Pidgey  Flying  251   40   45   40   56   1
Normal                    Pidgeotto  Flying  349   63   60   55   71   1
Normal                      Pidgeot  Flying  479   83   80   75  101   1
Normal          PidgeotMega Pidgeot  Flying  579   83   80   80  121   1
Normal                      Rattata     NaN  253   30   56   35   72   1
Normal                     Raticate     NaN  413   55   81   60   97   1
Normal                      Spearow  Flying  262   40   60   30   70   1
Normal                       Fearow  Flying  442   65   90   65  100   1
Poison                        Ekans     NaN  288   35   60   44   55   1
Poison                        Arbok     NaN  438   60   85   69   80   1
...                             ...     ...  ...  ...  ...  ...  ...  ..
Fairy                       Sylveon     NaN  525   95   65   65   60   6
Fighting                   Hawlucha  Flying  500   78   92   75  118   6
Electric                    Dedenne   Fairy  431   67   58   57  101   6
Rock                        Carbink   Fairy  500   50   50  150   50   6
Dragon                        Goomy     NaN  300   45   50   35   40   6
Dragon                      Sliggoo     NaN  452   68   75   53   60   6
Dragon                       Goodra     NaN  600   90  100   70   80   6
Steel                        Klefki   Fairy  470   57   80   91   75   6
Ghost                      Phantump   Grass  309   43   70   48   38   6
Ghost                     Trevenant   Grass  474   85  110   76   56   6
Ghost         PumpkabooAverage Size   Grass  335   49   66   70   51   6
Ghost           PumpkabooSmall Size   Grass  335   44   66   70   56   6
Ghost           PumpkabooLarge Size   Grass  335   54   66   70   46   6
Ghost           PumpkabooSuper Size   Grass  335   59   66   70   41   6
Ghost         GourgeistAverage Size   Grass  494   65   90  122   84   6
Ghost           GourgeistSmall Size   Grass  494   55   85  122   99   6
Ghost           GourgeistLarge Size   Grass  494   75   95  122   69   6
Ghost           GourgeistSuper Size   Grass  494   85  100  122   54   6
Ice                        Bergmite     NaN  304   55   69   85   28   6
Ice                         Avalugg     NaN  514   95  117  184   28   6
Flying                       Noibat  Dragon  245   40   30   35   55   6
Flying                      Noivern  Dragon  535   85   70   80  123   6
Fairy                       Xerneas     NaN  680  126  131   95   99   6
Dark                        Yveltal  Flying  680  126  131   95   99   6
Dragon             Zygarde50% Forme  Ground  600  108  100  121   95   6
Rock                        Diancie   Fairy  600   50  100  150   50   6
Rock            DiancieMega Diancie   Fairy  700   50  160  110  110   6
Psychic         HoopaHoopa Confined   Ghost  600   80  110   60   70   6
Psychic          HoopaHoopa Unbound    Dark  680   80  160   60   80   6
Fire                      Volcanion   Water  600   80  110  120   70   6

[800 rows x 8 columns]

+ 重置索引

In [69]:
df4 = df3.reset_index()
df4

          类型1                         姓名     类型2   总计  生命值  攻击力  防御力   速度  时代
0       Grass                  Bulbasaur  Poison  318   45   49   49   45   1
1       Grass                    Ivysaur  Poison  405   60   62   63   60   1
2       Grass                   Venusaur  Poison  525   80   82   83   80   1
3       Grass      VenusaurMega Venusaur  Poison  625   80  100  123   80   1
4        Fire                 Charmander     NaN  309   39   52   43   65   1
5        Fire                 Charmeleon     NaN  405   58   64   58   80   1
6        Fire                  Charizard  Flying  534   78   84   78  100   1
7        Fire  CharizardMega Charizard X  Dragon  634   78  130  111  100   1
8        Fire  CharizardMega Charizard Y  Flying  634   78  104   78  100   1
9       Water                   Squirtle     NaN  314   44   48   65   43   1
10      Water                  Wartortle     NaN  405   59   63   80   58   1
11      Water                  Blastoise     NaN  530   79   83  100   78   1
12      Water    BlastoiseMega Blastoise     NaN  630   79  103  120   78   1
13        Bug                   Caterpie     NaN  195   45   30   35   45   1
14        Bug                    Metapod     NaN  205   50   20   55   30   1
15        Bug                 Butterfree  Flying  395   60   45   50   70   1
16        Bug                     Weedle  Poison  195   40   35   30   50   1
17        Bug                     Kakuna  Poison  205   45   25   50   35   1
18        Bug                   Beedrill  Poison  395   65   90   40   75   1
19        Bug      BeedrillMega Beedrill  Poison  495   65  150   40  145   1
20     Normal                     Pidgey  Flying  251   40   45   40   56   1
21     Normal                  Pidgeotto  Flying  349   63   60   55   71   1
22     Normal                    Pidgeot  Flying  479   83   80   75  101   1
23     Normal        PidgeotMega Pidgeot  Flying  579   83   80   80  121   1
24     Normal                    Rattata     NaN  253   30   56   35   72   1
25     Normal                   Raticate     NaN  413   55   81   60   97   1
26     Normal                    Spearow  Flying  262   40   60   30   70   1
27     Normal                     Fearow  Flying  442   65   90   65  100   1
28     Poison                      Ekans     NaN  288   35   60   44   55   1
29     Poison                      Arbok     NaN  438   60   85   69   80   1
..        ...                        ...     ...  ...  ...  ...  ...  ...  ..
770     Fairy                    Sylveon     NaN  525   95   65   65   60   6
771  Fighting                   Hawlucha  Flying  500   78   92   75  118   6
772  Electric                    Dedenne   Fairy  431   67   58   57  101   6
773      Rock                    Carbink   Fairy  500   50   50  150   50   6
774    Dragon                      Goomy     NaN  300   45   50   35   40   6
775    Dragon                    Sliggoo     NaN  452   68   75   53   60   6
776    Dragon                     Goodra     NaN  600   90  100   70   80   6
777     Steel                     Klefki   Fairy  470   57   80   91   75   6
778     Ghost                   Phantump   Grass  309   43   70   48   38   6
779     Ghost                  Trevenant   Grass  474   85  110   76   56   6
780     Ghost      PumpkabooAverage Size   Grass  335   49   66   70   51   6
781     Ghost        PumpkabooSmall Size   Grass  335   44   66   70   56   6
782     Ghost        PumpkabooLarge Size   Grass  335   54   66   70   46   6
783     Ghost        PumpkabooSuper Size   Grass  335   59   66   70   41   6
784     Ghost      GourgeistAverage Size   Grass  494   65   90  122   84   6
785     Ghost        GourgeistSmall Size   Grass  494   55   85  122   99   6
786     Ghost        GourgeistLarge Size   Grass  494   75   95  122   69   6
787     Ghost        GourgeistSuper Size   Grass  494   85  100  122   54   6
788       Ice                   Bergmite     NaN  304   55   69   85   28   6
789       Ice                    Avalugg     NaN  514   95  117  184   28   6
790    Flying                     Noibat  Dragon  245   40   30   35   55   6
791    Flying                    Noivern  Dragon  535   85   70   80  123   6
792     Fairy                    Xerneas     NaN  680  126  131   95   99   6
793      Dark                    Yveltal  Flying  680  126  131   95   99   6
794    Dragon           Zygarde50% Forme  Ground  600  108  100  121   95   6
795      Rock                    Diancie   Fairy  600   50  100  150   50   6
796      Rock        DiancieMega Diancie   Fairy  700   50  160  110  110   6
797   Psychic        HoopaHoopa Confined   Ghost  600   80  110   60   70   6
798   Psychic         HoopaHoopa Unbound    Dark  680   80  160   60   80   6
799      Fire                  Volcanion   Water  600   80  110  120   70   6

[800 rows x 9 columns]

## 7.重复值处理

In [65]:
df5 = pd.DataFrame({"c1":["apple"]*3 + ["banana"]*3,"c2":[1,1,2,3,3,2]})
df5

       c1  c2
0   apple   1
1   apple   1
2   apple   2
3  banana   3
4  banana   3
5  banana   2

+ 查看是否有重复值

In [71]:
#适合小数据目测
df5.duplicated(subset=["c1","c2"],keep="first")

0    False
1     True
2    False
3    False
4     True
5    False
dtype: bool

In [72]:
#当数据量比较大的时候，可以看看重复数据和非重复数据的计数分布
df5_duplicated = df5.duplicated(subset=["c1","c2"],keep="first")
df5_duplicated.value_counts()

False    4
True     2
dtype: int64

+ 保留重复值

In [10]:
df5[df5.duplicated(subset=["c1","c2"],keep="first")]

       c1  c2
1   apple   1
4  banana   3

+ 删除重复值

（1）默认保留第一个出现的重复值，删除掉后面的重复值

In [14]:
df5.drop_duplicates(subset=["c1","c2"],keep="first")

       c1  c2
0   apple   1
2   apple   2
3  banana   3
5  banana   2

（2）保留最后一个重复值，删除掉前面的重复值

In [17]:
df5.drop_duplicates(subset=["c1","c2"],keep="last")

       c1  c2
1   apple   1
2   apple   2
4  banana   3
5  banana   2

（3）如果希望直接在原基础上修改，添加参数inplace=True

In [66]:
df5.drop_duplicates(subset=["c1","c2"],keep="last",inplace=True)
df5

       c1  c2
1   apple   1
2   apple   2
4  banana   3
5  banana   2

## 8.替换值

忽略警告的做法

In [69]:
import warnings
warnings.filterwarnings("ignore")

示例数据

In [67]:
df6 = df.head(10)
df6

                          姓名    类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                  Bulbasaur  Grass  Poison  318   45   49   49   45   1
1                    Ivysaur  Grass  Poison  405   60   62   63   60   1
2                   Venusaur  Grass  Poison  525   80   82   83   80   1
3      VenusaurMega Venusaur  Grass  Poison  625   80  100  123   80   1
4                 Charmander   Fire     NaN  309   39   52   43   65   1
5                 Charmeleon   Fire     NaN  405   58   64   58   80   1
6                  Charizard   Fire  Flying  534   78   84   78  100   1
7  CharizardMega Charizard X   Fire  Dragon  634   78  130  111  100   1
8  CharizardMega Charizard Y   Fire  Flying  634   78  104   78  100   1
9                   Squirtle  Water     NaN  314   44   48   65   43   1

+ 单个对象替换单个值

In [70]:
df6["类型1"] = df6["类型1"].replace("Grass","G")
df6

                          姓名    类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                  Bulbasaur      G  Poison  318   45   49   49   45   1
1                    Ivysaur      G  Poison  405   60   62   63   60   1
2                   Venusaur      G  Poison  525   80   82   83   80   1
3      VenusaurMega Venusaur      G  Poison  625   80  100  123   80   1
4                 Charmander   Fire     NaN  309   39   52   43   65   1
5                 Charmeleon   Fire     NaN  405   58   64   58   80   1
6                  Charizard   Fire  Flying  534   78   84   78  100   1
7  CharizardMega Charizard X   Fire  Dragon  634   78  130  111  100   1
8  CharizardMega Charizard Y   Fire  Flying  634   78  104   78  100   1
9                   Squirtle  Water     NaN  314   44   48   65   43   1

+ 多个对象替换单个值

In [71]:
df6["类型1"] = df6["类型1"].replace(["G","Fire"],"gf")
df6

                          姓名    类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                  Bulbasaur     gf  Poison  318   45   49   49   45   1
1                    Ivysaur     gf  Poison  405   60   62   63   60   1
2                   Venusaur     gf  Poison  525   80   82   83   80   1
3      VenusaurMega Venusaur     gf  Poison  625   80  100  123   80   1
4                 Charmander     gf     NaN  309   39   52   43   65   1
5                 Charmeleon     gf     NaN  405   58   64   58   80   1
6                  Charizard     gf  Flying  534   78   84   78  100   1
7  CharizardMega Charizard X     gf  Dragon  634   78  130  111  100   1
8  CharizardMega Charizard Y     gf  Flying  634   78  104   78  100   1
9                   Squirtle  Water     NaN  314   44   48   65   43   1

+ 用不同的值替换不同的对象

In [72]:
df6["类型1"] = df6["类型1"].replace(["gf","Water"],["good","W"])
df6

                          姓名   类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                  Bulbasaur  good  Poison  318   45   49   49   45   1
1                    Ivysaur  good  Poison  405   60   62   63   60   1
2                   Venusaur  good  Poison  525   80   82   83   80   1
3      VenusaurMega Venusaur  good  Poison  625   80  100  123   80   1
4                 Charmander  good     NaN  309   39   52   43   65   1
5                 Charmeleon  good     NaN  405   58   64   58   80   1
6                  Charizard  good  Flying  534   78   84   78  100   1
7  CharizardMega Charizard X  good  Dragon  634   78  130  111  100   1
8  CharizardMega Charizard Y  good  Flying  634   78  104   78  100   1
9                   Squirtle     W     NaN  314   44   48   65   43   1

参数也可以是字典

In [73]:
df6["类型1"] = df6["类型1"].replace({"good":"gg","W":"ww"})
df6

                          姓名 类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                  Bulbasaur  gg  Poison  318   45   49   49   45   1
1                    Ivysaur  gg  Poison  405   60   62   63   60   1
2                   Venusaur  gg  Poison  525   80   82   83   80   1
3      VenusaurMega Venusaur  gg  Poison  625   80  100  123   80   1
4                 Charmander  gg     NaN  309   39   52   43   65   1
5                 Charmeleon  gg     NaN  405   58   64   58   80   1
6                  Charizard  gg  Flying  534   78   84   78  100   1
7  CharizardMega Charizard X  gg  Dragon  634   78  130  111  100   1
8  CharizardMega Charizard Y  gg  Flying  634   78  104   78  100   1
9                   Squirtle  ww     NaN  314   44   48   65   43   1